# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Config/secrets/*.json

### Vapor Patch ###
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store

# End of https://www.gitignore.io/api/vapor

# React
Resources/server*
Public/js
node_modules

